body {
  font-family: "Roboto", sans-serif;
  padding: 90px;
  background: linear-gradient(to top, #d3dec3 0%, #b9d7c6 100%);
}
.content {
  display: block;
  margin: 0 auto;
  background: #ece3ca;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  box-shadow: 10px 10px 20px rgba(213, 148, 87, 0.3);
}
.search-box {
  background: #eec499;
  opacity: 0.5;
  border: none;
  border-radius: 10px;
  color: #100a04;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  width: 50%;
}
.search-button {
  background: #eec499;
  color: #100a04;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 20px;
}
.search-button:hover {
  cursor: pointer;
  background: rgba(213, 148, 87);
  transition: ease-in-out 200ms;
}
