body {
  font-family: "Roboto", sans-serif;
  padding: 90px;
  background: linear-gradient(
    109.6deg,
    rgba(185, 215, 198, 0.87) 11.2%,
    rgba(211, 222, 195, 0.73) 91.2%
  );
  /* linear-gradient(to top, #d3dec3 0%, #b9d7c6 100%); */
}
.content {
  display: block;
  margin: 0 auto;
  background: #f2efe6;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  box-shadow: 10px 10px 20px rgba(220, 159, 43, 0.3);
}

header {
  border-bottom: 1px solid #98ad9f;
  padding-bottom: 30px;
}
a {
  color: #6c7c72;
}
.search-box-input {
  background: #d3dec3;
  opacity: 0.5;
  padding: 20px;
  border: none;
  border-radius: 10px;
  color: #100a04;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  width: 50%;
}
.search-button {
  background: #d3dec3;
  color: #6c7c72;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 20px;
}
.search-button:hover {
  cursor: pointer;
  background: #b9d7c6;
  transition: ease-in-out 200ms;
}
main {
  padding: 30px 0;
}
h1 {
  color: #6c7c72;
}
p {
  color: #623d18;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temperature {
  font-size: 48px;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #6c7c72;
}

.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 50px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  color: #6c7c72;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
  color: #6c7c72;
}

footer {
  border-top: 1px solid #98ad9f;
  text-align: center;
  padding-top: 15px;

  color: rgba(39, 33, 66, 0.4);
}
